// sidebar
// $menuText: #bfcbd9;
$menuText: #f4f4f5;
// $menuActiveText: #409eff;
$menuActiveText: #fffffc;
$subMenuActiveText: #f4f4f5; //https://github.com/ElemeFE/element/issues/12951

// $menuBg: #304156;
$menuBg: #4772d9;
// $menuHover: #263445;
$menuHover: #3a68d6;

// $subMenuBg: #1f2d3d;
$subMenuBg: #4772d9;
// $subMenuHover: #001528;
$subMenuHover: #3a68d6;

$subMenuesize: 14px;
$subMenueteststyle: #fff;

$sideBarWidth: 180px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
